@use "variables";

h1 {
	font-size: 1.8em;
	line-height: 1;
}

#about {
	padding-top: 15vh;
	p {
		line-height: 1.5;
	}
}

#about-link {
	height: 10vh;
}

.hi {
	font-size: 2em;
	font-weight: bold;
	color: variables.$purple;
}

.about-background {
	color: variables.$dark-green;
}
