@use "variables";

#experiences-nav {
	position: relative;
	left: -4px;
	.experience-type-button {
		background-color: #e37abb;
		box-shadow: 4px 4px 0px 0px #8d3169;
		position: relative;
		padding: 10px;
		width: 100px;

		&::before {
			content: "";
			position: absolute;
			top: 1px;
			right: -3px;
			width: 6px;
			height: 6px;
			background-color: #8d3169;
			transform: rotate(45deg);
			z-index: -1;
		}

		&::after {
			content: "";
			position: absolute;
			bottom: -3px;
			left: 1px;
			width: 6px;
			height: 6px;
			background-color: #8d3169;
			transform: rotate(45deg);
			z-index: -1;
		}

		&:hover {
			background-color: variables.$purple;
			// border-bottom: 3px solid #e771ba;
			// border-right: 3px solid #e771ba;
		}
	}

	.experience-type-button.selected {
		background-color: variables.$purple;
		// box-shadow: -4px -4px 0px 0px #ba759f;
		box-shadow: none;
		position: relative;
		left: 4px;
		top: 4px;
		padding: 10px;
		width: 100px;
		z-index: -2;

		&::before {
			display: none;
		}

		&::after {
			display: none;
		}
		// &::before {
		// 	content: "";
		// 	position: absolute;
		// 	top: -3px;
		// 	right: 1px;
		// 	width: 6px;
		// 	height: 6px;
		// 	background-color: #ba759f;
		// 	transform: rotate(45deg);
		// 	z-index: -1;
		// }

		// &::after {
		// 	content: "";
		// 	position: absolute;
		// 	bottom: 1px;
		// 	left: -3px;
		// 	width: 6px;
		// 	height: 6px;
		// 	background-color: #ba759f;
		// 	transform: rotate(45deg);
		// 	z-index: -1;
		// }
	}
}

@media only screen and (max-width: 700px) {
	#experiences-nav {
		.experience-type-button {
			font-size: 2em;
			width: 25vw;
		}
		.experience-type-button.selected {
			font-size: 2em;
			width: 25vw;
		}
	}
}
