@use "variables";

#experiences-left-nav {
	display: flex;
	flex-direction: column;
	background-color: rgb(53, 54, 59);
	button {
		width: 100px;
		height: 50px;
		background-color: variables.$dark-green;

		&:hover {
			background-color: variables.$light-green;
		}
	}
}
