@use "variables";

#experiences-left-nav {
	display: flex;
	flex-direction: column;
	background-color: rgb(53, 54, 59);

	z-index: 0;
	button {
		width: 150px;
		height: 50px;
		background-color: variables.$light-green;
		box-shadow: 4px 4px 0px 0px variables.$dark-green;
		position: relative;
		left: -4px;

		&::before {
			position: absolute;
			top: 1px;
			right: -3px;
			content: "";
			background-color: variables.$dark-green;
			width: 6px;
			height: 6px;
			transform: rotate(45deg);
			z-index: -1;
		}

		&::after {
			position: absolute;
			bottom: -3px;
			left: 1px;
			content: "";
			background-color: variables.$dark-green;
			width: 6px;
			height: 6px;
			transform: rotate(45deg);
			z-index: -1;
		}
		&:hover {
			background-color: variables.$dark-green;
		}
	}
	.selected {
		background-color: #1b5c56;
		box-shadow: none;
		left: 4px;
		top: 4px;
		width: 146px;
		z-index: -2;

		&::before {
			display: none;
		}

		&::after {
			display: none;
		}
	}
}

@media only screen and (max-width: 900px) {
	#experiences-left-nav {
		button {
			width: 10vw;
			word-wrap: break-word;
		}
		.selected {
			width: 10vw;
			word-wrap: break-word;
			left: 0px;
		}
	}
}
