@use "variables";

h1 {
	font-size: 1.8em;
	line-height: 1;
}

p {
	line-height: 1;
}

#about-link {
	height: 10vh;
}

#experience-display {
	display: flex;
	flex-direction: row;
	height: 50vh;
	padding-top: 4px;
}
