@use "variables";

.projects-list {
	display: flex;
	flex-direction: row;
}

#projects {
	min-width: 1000px;
	padding-top: 6vh;
}

ul {
	list-style-type: none;
}

.project-type-heading {
	color: variables.$purple;
}
