@use "variables";

#right-nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-width: 500px;
	font-size: 1.2em;

	a {
		text-decoration: none;
		color: variables.$light-green;
		position: relative;

		&:hover {
			&:after {
				content: "";
				position: absolute;
				bottom: -5px;
				right: -8px;
				width: 8px;
				height: 4px;
				background-color: black;
				z-index: 0;
			}
			&::before {
				content: "";
				position: absolute;
				bottom: -5px;
				right: -4px;
				width: 0%;
				height: 4px;
				animation: animate 0.2s linear;
				animation-fill-mode: forwards;
				background: linear-gradient(to left, #c94e9a, #ffa1db);

				overflow: hidden;
				-webkit-transform: skew(-60deg, 0deg);
				-ms-transform: skew(-60deg, 0deg);
				-o-transform: skew(-60deg, 0deg);
				transform: skew(-60deg, 0deg);

				z-index: -1;
			}
			@keyframes animate {
				0% {
					width: 0;
				}

				50% {
					width: 50%;
				}

				100% {
					width: 110%;
				}
			}
		}
	}
}

@media only screen and (max-width: 700px) {
	#right-nav {
		width: 85%;
		min-width: auto;
		font-size: 1em;
	}
}
