@use "./Components/styles/variables";

body {
	background-color: #050404;
	color: variables.$font-color;
}

main {
	section {
		margin-left: auto;
		margin-right: auto;
		max-width: 600px;
		min-width: 600px;
		padding-top: 20vh;
		padding-bottom: 20vh;
	}
}

br {
	height: 500px;
}

footer {
	height: 20vh;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
